@font-face {
  font-family: 'Norse-Bold';
  src: url('../assets/Norse-Bold.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --font-family: 'Norse-Bold';
  --green: #596d48;
}

.roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: black;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.body {
  background-image: url('../assets/bg_image.jpg');
  background-size: 45% 100vh;
  background-position: left;
  background-repeat: no-repeat;
  height: 100vb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #f9fafb;
  margin: auto;
}

.container {
  display: flex;
  /* gap: 3rem; */
  justify-content: center;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 50%;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  padding: 2rem;
}

.logo img {
  width: 20%;
}

.logo h2 {
  font-size: 5rem;
  color: white;
  font-weight: bold;
  font-family: 'Norse-Bold';
}

main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 3rem;
  width: 65%;
}

.form_section > p {
  font-size: 1.5rem;
  background-color: white;
  width: 100%;
  margin-bottom: 0.5rem;
  padding-inline: 5rem;
  padding-top: 2rem;
}

.form_intro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding-inline: 5rem;
}

.form_intro p {
  font-weight: bold;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-inline: 5rem;
  margin-top: 1rem;
}
.form_section {
  background-color: white;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40%;
}
label {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
}

input {
  border: 1px solid #e5e7eb;
  border-radius: 0.2rem;
}

#cpassword:invalid {
  border-color: red;
}

input:focus {
  border-color: blue;
}

.submit_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-inline: 5rem;
  margin-top: 1rem;
  width: 50%;
}

.submit_form button {
  padding: 0.7rem;
  background-color: var(--green);
  color: white;
  border-radius: 0.6rem;
}
