@font-face {
  font-family: "Norse-Bold";
  src: url("../assets/Norse-Bold.otf");
}

:root{
  --font-family: "Norse-Bold";
  --green: #596d48;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: url("../assets/bg_image.jpg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  height: 100vb;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

